.views-view-responsive-grid__item{
    position: relative;

}
.img-responsive{
    width: 300px;
    height: 323px;
    border-radius: 8px;
}
.container{
    width: 1240px;
}
.navbar.container{
    max-width: 1240px;
}
.col-sm-3{
    padding-left: 0px;
    padding-right: 0px;
}
.views-field{
    position: absolute;
    bottom: 23px;
    left: 16px;
    width: 268px;
    background-color: #fafafa;
    padding: 16px;
    border-radius: 8px;
}
.views-view-responsive-grid__item-inner{
    position: relative;
}
.field-content{
    color:  #3E4462;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.24px;

}
.views-element-container{
    display: flex;
    gap: 50px;
    flex-direction: column
}
.block-title{
    color: #001833;
    font-feature-settings: 'liga' off;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 1; 
    letter-spacing: -0.88px;
}
.more-link{
    display: flex;
    margin-right: auto;
}
.view .more-link a{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
    background-color: #8AA936;
    border-radius: 6px;
    margin-left: auto;
    color: #fafafa;
}
.view .more-link a:hover{
    background-color: #001833;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s
}
.row-bottom{
    // padding-bottom: 118px;
    background-image: url(./../images/kisspng-pasta-spinach-dip-english-muffin-breakfast-sandwic-spinach-5abcc32f2ee473\ 1.png);
    background-size: 696px 1037px;
    background-repeat: no-repeat;
    background-position: left 0px bottom -518px;
}
.menu--btn-categories{
    display: flex;
    justify-content: center;
}

.menu--btn-categories .last a{
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 240px;
    padding: 20px 52px;
    background-color: transparent;
    border-radius: 24px 44px;
    border: 2px solid #8AA936;
    color: rgb(34, 37, 42);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 14px;
    margin-bottom: 125px;
}
.menu--btn-categories .last a:hover,
.menu--btn-categories .last a:focus{
    background-color: #8AA936;
    color: #fafafa;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s
}