.brand-block{
    display: flex; 
    flex-direction: column;
    width: 1170px;
}
.brand-img{
    color: #22252A;
    font-family: Poppins;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.5px;
    margin-bottom: 14px;
    width: 505px;
}
.brand-img-ferst{
    color: #8BAA36;
}

.block-block-content55163a4f-9154-4455-87e7-5c6dcf043bef{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.row{
    min-height: 25vw;
    padding-top: 164px;
}
.path-frontpage .row{
    display: flex;
    width: 100%;
    background-image: url(./../images/Group53.png),
    url(./../images/kisspng-pasta-spinach-dip-english-muffin-breakfast-sandwic-spinach-5abcc32f2ee473_2.png),
    url(./../images/unsplash_IGfIGP5ONV0.png),
    url(./../images/kisspng-pasta-spinach-dip-english-muffin-breakfast-sandwic-spinach-5abcc32f2ee473_1.png),
    url(./../images/bg2.png);
    background-size: 220px 148px, 116px 398px, 578px 539px, 913px 800px, 725px 689px;
    background-repeat: no-repeat;
    background-position: right 170px top 540px, left 0px top 0px, right 184px top 126px, right 0px top 0px, right 0px top 0px;
    padding-top: 226px;
    padding-bottom: 368px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    position: relative;
}
.brand-text{
    width: 465px;
    color: #23262A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.34; 
    letter-spacing: -0.36px;
    padding-bottom: 50px;
}
.input-group{
    width: 510px;
}
.input-group-btn:last-child > .btn,
.input-group-btn{
    border-radius: 24px 44px;
    position: absolute;
    left: 175px;
}
.form-search{
    display: flex;
    width: 450px;
    height: 70px;
    border-radius: 24px 44px;
    border: 1px solid rgb(240, 240, 240);
    padding: 24px 48px 24px 44px;
}
.input-group .form-control:first-child{
    border-radius: 24px 44px;
}
.input-group-btn .btn-primary{
    height: 70px;
    width: 161px;
    background-color: rgb(34, 37, 42);
    border-radius: 24px 44px;
    border: none;
}
.layout{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.block-search{
    width: 1170px;
}

.col-sm-3{
    width: 100%;
}
.region-content{
    position: relative;
    display: flex;
    flex-direction: column
}
.block-block-content1f14ef55-3083-4d4d-91dd-341c9c350232{
    position: absolute;
    display: flex;
    width: 298px;
    height: 114px;
    padding: 16px;
    bottom: 368px;
    right: 140px;
    background-color: #fff;
    border-radius: 8px;
    justify-content: space-between;
}
.link_title{
    color: #3E4462;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.42px;
    font-family: Poppins;
}
.link_title_green{
    color: #8BAA36;
}
.link_box{
    margin-left: auto;
}
.field--item{
    display: flex;
    flex-direction: column
}
.link_recipes{
    display: flex;
    color: #3E4462;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
    letter-spacing: 0.2px;
    align-items: center;
    gap: 7px;
}
