.brand-block{
    display: flex; 
    flex-direction: column;
    width: 1170px;
}
.brand-img{
    color: #22252A;
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.5px;
    margin-bottom: 14px;
}
.brand-img-ferst{
    color: #8BAA36;
}

.block-block-content55163a4f-9154-4455-87e7-5c6dcf043bef{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.path-frontpage .row{
    display: flex;
    width: 100%;
    background-image: url(./../images/Group53.png),
    url(./../images/kisspng-pasta-spinach-dip-english-muffin-breakfast-sandwic-spinach-5abcc32f2ee473_2.png),
    url(./../images/unsplash_IGfIGP5ONV0.png),
    url(./../images/kisspng-pasta-spinach-dip-english-muffin-breakfast-sandwic-spinach-5abcc32f2ee473_1.png),
    url(./../images/bg2.png);
    background-size: 220px 148px, 116px 398px, 578px 539px, 913px 800px, 725px 689px;
    background-repeat: no-repeat;
    background-position: right 170px top 540px, left 0px top 0px, right 184px top 126px, right 0px top 0px, right 0px top 0px;
    padding-top: 226px;
    padding-bottom: 368px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
// .main-block{
//     display: flex;
//     width: 100%;
//     margin-right: auto;
//     margin-left: auto;   
// }
.brand-text{
    width: 465px;
    color: #23262A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.34; 
    letter-spacing: -0.36px;
}
// .input-group{
//     width: 510px;
// }
// .form-search{
//     display: flex;
//     width: 510px;
//     height: 70px;
//     border-radius: 24px 44px;
//     border: 1px solid rgb(240, 240, 240);
//     padding: 24px 48px 24px 44px;
// }
// .btn-primary{
//     height: 70px;
//     width: 161px;
//     background-color: rgb(34, 37, 42);
//     border-radius: 24px 44px 24px 44px;
//     border: none;
// }
// .layout{
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }
// .block-search{
//     margin-left: auto;
//     margin-right: auto;
//     width: 1170px;
// }